<%- include('../partials/tasks-partials/calendar-header') %>
  <h1><%= getMonthName(month) %> <%= year %></h1>
  <div class="grid-bg-color">
    <div id="calendar">
      <% for (let i = 1; i <= 30; i++) { %>
        <div id="<%= i %>" class="grid-panel">
          <%= month %>/<%= i %>
        </div>
      <% }; %>
      <% if (month % 2 === 1) { %>
        <div class="grid-panel">
          <%= month %>/31
        </div>
      <% } %>
    </div>
  </div>
  <!-- Legend -->
  <div class="legend-container">
    <div class="flex-row">
      <div class="legend-green"></div>
      <h3>All Tasks Completed</h3>
    </div>
    <div class="flex-row">
      <div class="legend-red"></div>
      <h3>Failed Task(s)</h3>
    </div>
  </div>
  <script>
    const successIds = [<%= successDayIds %>];
    const failIds = [<%= failDayIds %>];

    // give divs a green background for each successDay
    successIds.forEach(day => {
      const dayDiv = document.getElementById(day);
      dayDiv.style.backgroundColor = 'limegreen';
    });

    // give divs a red background for each failDay
    failIds.forEach(day => {
      const dayDiv = document.getElementById(day);
      dayDiv.style.backgroundColor = 'lightcoral';
    });
  </script>
  <%- include('../partials/footer')%>