<%- include('../partials/tasks-partials/calendar-header') %>
  <h1>Monthly Progress</h1>
  <div class="grid-bg-color">
    <div id="calendar">
      <% for (let i = 1; i <= 30; i++) { %>
        <div class="grid-border-color">
          <%= month %>/<%= i %>
        </div>
      <% }; %>
      <% if (month % 2 === 1) { %>
        <div class="grid-border-color">
          <%= month %>/31
        </div>
      <% } %>
    </div>
  </div>
  <%- include('../partials/footer')%>