<%- include('../partials/tasks-partials/calendar-header') %>
  <h1><%= getMonthName(month) %> <%= year %></h1>
  <div class="grid-bg-color">
    <div id="calendar">
      <% for (let i = 1; i <= 30; i++) { %>
        <div id="<%= i %>" class="grid-border-color">
          <%= month %>/<%= i %>
        </div>
      <% }; %>
      <% if (month % 2 === 1) { %>
        <div class="grid-border-color">
          <%= month %>/31
        </div>
      <% } %>
    </div>
  </div>
  <script>
    const successIds = [<%= successDayIds %>];
    const failIds = [<%= failDayIds %>];

    // give divs a green background for each successDay
    successIds.forEach(day => {
      const dayDiv = document.getElementById(day);
      dayDiv.style.backgroundColor = 'green';
    });

    // give divs a red background for each failDay
    failIds.forEach(day => {
      const dayDiv = document.getElementById(day);
      dayDiv.style.backgroundColor = 'red';
    });
  </script>
  <%- include('../partials/footer')%>