<%- include ('../partials/tasks/index-header') %>
  
  <h1 id="task-heading"><%= user.name %>'s Daily Tasks</h1>
  <h3><%= new Date().toLocaleDateString()%></h3>
  
  <div id="task-listing">
    <ul>
      <% tasks.forEach(function(task) { %>
        <li>
          <h2>Task 1: <%= task.task0.title %></h2>
        </li>
        <li>
          <h2>Task 2: <%= task.task1.title %></h2>
        </li>
        <li>
          <h2>Task 3: <%= task.task2.title %></h2>
        </li>
        <li>
          <h2>Task 4: <%= task.task3.title %></h2>
        </li>
        <li>
          <h2>Task 5: <%= task.task4.title %></h2>
        </li>
        <p><%= task.notes %></p>
        <% }); %>
    </ul>
  </div>

  <%- include('../partials/footer') %>