<%- include('../partials/tasks-partials/calendar-header') %>
<div class="content-container">
  <h1>
    Task List 
    <br>
    <%= date %>
  </h1>
  <ul class="ctr">
    <li class="heading">Task</li>
    <li class="heading">Status</li>
    <li><%= task.task0.title %></li>
    <li><%= task.task0.done ? 'Completed' : 'Not Completed' %></li>
    <li><%= task.task1.title %></li>
    <li><%= task.task1.done ? 'Completed' : 'Not Completed' %></li>
    <li><%= task.task2.title %></li>
    <li><%= task.task2.done ? 'Completed' : 'Not Completed' %></li>
    <li><%= task.task3.title %></li>
    <li><%= task.task3.done ? 'Completed' : 'Not Completed' %></li>
    <li><%= task.task4.title %></li>
    <li><%= task.task4.done ? 'Completed' : 'Not Completed' %></li>
  </ul>
  <div class="ctr col-1">
    <p class="heading">Notes</p>
    <ul>
      <% for (let i = 0; i < task.notes.length; i++) { %>
        <li><%= task.notes[i] %></li>
      <% } %>
    </ul>
  </div>
</div>
<%- include('../partials/footer') %>